<main>
  <div class="container">
    <h1 class="mt-5">大会登録画面</h1>
      <%= form_with model: @tournament, url: admin_tournaments_path do |f| %>
        <h4>正式名称</h4>
        <%= f.text_field :tytle %>
        <h4>略称</h4>
        <%= f.text_field :short_tytle %>
        <%= f.submit '登録する', class: "btn btn-success" %>
      <% end %>
  </div>
</main>

