<main>
  <div class="container">
    <h1>大会一覧(user)</h1>
    <% @tournaments.each do |tournament| %>
     <%= link_to tournament_path(tournament.id) do %>
      <%= tournament.tytle %>(<%= tournament.short_tytle %>)</br>
     <% end %>
    <% end %>
  </div>
</main>