<main>
  <div class="container">
    <h2 class="mt-5">観戦する大会をクリック</h2>
    <% @tournaments.each do |tournament| %>
     <%= link_to tournament_path(tournament.id) do %>
      <%= tournament.tytle %>(<%= tournament.short_tytle %>)</br>
     <% end %>
    <% end %>
  </div>
</main>