@use '~bootstrap/scss/bootstrap';

.jumbotron {
  background: url('../images/stand.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  color: white;
  -webkit-text-stroke: 1px black;
  text-stroke: 1px black;
}

.header{
  background-color: #008b8b;
}