<%= flash[:notice] %>
<div class="jumbotron">
  <div class="container">
    <h2 class="d-flex justify-content-center mb-5">
      みんなで観戦して
    </h2>
    <h2 class="d-flex justify-content-center">
      一緒に応援しよう！！
    </h2>
  </div>
</div>


